<ul class="nav justify-content-center bg-dark mt-5 p-2 lista">
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/general']">General</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Deportes</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Entretenimiento</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Economia</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Tecnologia</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Salud</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Negocios</a>
      </li>
    
  </ul>